

body#feeds
  background #DDD

  #content
    padding-right 0

  .bs-docs-sidenav,
  .post-list
    margin 30px

  .bs-docs-sidenav
    margin-left 0

  .posts
    background white

  .pull-right
    padding-right 10px