<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <header>
      Loggin data
    </header>
    <form action="/sessions/myid" method="POST">
      <input type="submit" value="logout" />
      <input type="hidden" name="_method" value="delete" />
    </form>
  </body>
</html>
