<!DOCTYPE html>
<html lang="en">
  <head>
  </head>
  <body>
    <header>
      Loggin data
      <form action="/sessions/myid" method="POST">
	<input type="submit" value="logout" />
	<input type="hidden" name="_method" value="delete" />
      </form>
    </header>

    <section id="content">
      <div class="subscrive-list"></div>
    </section>
    <script src="/build.js"></script>
    <script>require("boot");</script>
  </body>
</html>
