<% include ../../views/head %>
<h2>Signing</h2>
<% include ../../views/flash %>
<form method="POST" action="/users">
  <label>
    ID
    <input type="text" name="user[name]" />
  </label>
  <label>
    password
    <input type="password" name="user[password]" />
  </label>
  <input type="submit" value="sign in" />
</form>
<% include ../../views/foot %>
