
<% include ../../views/head %>
<header>
  <form action="/session" method="POST">
    <input type="submit" value="logout" />
    <input type="hidden" name="_method" value="delete" />
  </form>
</header>

<section id="content" class="grid">
  <div class="col-3-12">
    <form class="subscribe" action="#" method="">
      <input type="text" name="url" />
      <input type="submit" value="add" />
    </form>
    <div class="feed-list"></div>
  </div>
  <div class="col-9-12 post-list"></div>
</section>
<script src="/build.js"></script>
<script>
  (function() {
    var Feeds = require("feed-collection"),
        feeds = new Feeds;
    require("boot")({
      feeds: feeds.reset(<%- JSON.stringify(feeds) %>)
    });
  }());
</script>
<% include ../../views/foot %>
