
<% include ../../views/head %>

<div id="content">
  <nav class="feeds">
    <section>
      <h1>New Subscribe</h1>
      <form class="subscribe" action="#" method="">
	<input type="text" placeholder="Enter url" name="url" />
	<button type="submit">Add</button>
      </form>
    </section>
    <section>
      <section class="feed-list"></section>
    </section>
    <section>
      <form action="/session" method="POST">
	<input type="submit" value="logout" />
	<input type="hidden" name="_method" value="delete" />
      </form>
    </section>
  </nav>
  <div class="posts"></div>
</div>
<script src="<%= assetFingerprint(settings.env === "production" ? "/build.min.js" : "/build.js")  %>"></script>
<script>
  (function() {
    var Feeds = require("feed-collection"),
        feeds = new Feeds();
    require("boot")({
      feeds: feeds.reset(<%- JSON.stringify(feeds) %>)
    });
  }());
</script>
<% include ../../views/foot %>
