
<% include ../../views/head %>
<!-- <div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <form class="navbar-form pull-right" action="/session" method="POST">
      <input class="btn btn-primary" type="submit" value="logout" />
      <input type="hidden" name="_method" value="delete" />
    </form>
  </div>
</div> -->

<section id="content" class="container">
  <div class="row-fluid">
    <div class="span3 feeds">
      <div class="bs-docs-sidenav affix">
        <form class="subscribe input-append" action="#" method="">
          <input type="text" placeholder="Enter url" name="url" />
          <button class="btn" type="submit"><i class="icon-plus"></i></button>
        </form>
        <div class="feed-list"></div>
        <form action="/session" method="POST">
          <input class="btn btn-primary" type="submit" value="logout" />
          <input type="hidden" name="_method" value="delete" />
        </form>
      </div>
    </div>
    <div class="span9 posts"></div>
  </div>
</section>
<script src="<%= assetFingerprint("/build.js") %>"></script>
<script>
  (function() {
    var Feeds = require("feed-collection"),
        feeds = new Feeds;
    require("boot")({
      feeds: feeds.reset(<%- JSON.stringify(feeds) %>)
    });
  }());
</script>
<% include ../../views/foot %>
