
<% include ../../views/head %>
<header>
  <form action="/session" method="POST">
    <input type="submit" value="logout" />
    <input type="hidden" name="_method" value="delete" />
  </form>
</header>

<section id="content" class="grid">
  <div class="col-2-9">
    <form class="new-subscribe" action="#" method="">
      <input type="text" name="url" />
      <input type="submit" value="add" />
    </form>
    <div class="subscrive-list"></div>
  </div>
  <div class="col-5-7"></div>
</section>
<script src="/build.js"></script>
<script>
  (function() {
    var Subscribe = require("subscribe-collection"),
        subscribes = new Subscribe;
    require("boot")({
      subscribes: subscribes.reset(<%- JSON.stringify(subscribes) %>)
    });
  }());
</script>
<% include ../../views/foot %>
