<% include ../../views/head %>

<div id="content">

  <% include ../../views/flash %>
  
  <form class="form-horizontal" method="POST" action="/sessions">
    <fieldset>
      <legend>Log in</legend>
      <div class="form-group">
        <label for="name" class="col-lg-2 col-lg-offset-2 control-label">Name</label>
        <div class="col-lg-5">
    	  <input type="text" class="form-control" placeholder="name" name="name" />
        </div>
      </div>
      <div class="form-group">
        <label for="password" class="col-lg-2 col-lg-offset-2 control-label">Password</label>
        <div class="col-lg-5">
    	  <input type="password" class="form-control" name="password" placeholder="Password" />
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-8"> 
    	  <div class="checkbox">
    	    <label>
    	      <input type="checkbox" name="remember" checked="checked">Remember me
    	    </label>
    	  </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-4 col-lg-8">
    	  <button type="submit" class="btn btn-primary">Log in</button>
        </div>
      </div>
    </fieldset>
  </form>
  <a class="col-lg-offset-4 col-lg-8" id="signin" href="/users/new">Sign in</a>
</div> <!-- #content -->

<% include ../../views/foot %>
