
<% include ../../views/head %>
<h2>Login</h2>
<section class="flash-message">
  <p class="error">
    <% messages.forEach(function(message) { %>
      <%= message %>
    <% }); %>
  </p>
</section>
<form method="POST" action="/sessions">
  <label>
    ID
    <input type="text" name="name" />
  </label>
  <label>
    password
    <input type="password" name="password" />
  </label>
  <input type="submit" value="login" />
</form>
<a href="/users/new">Sign in</a>
<% include ../../views/foot %>
