<% include ../../views/head %>

<div class="container">
  <div class="signin">
    <div class="signin-box">
      <h2 class="form-signin-heading">Log in</h2>
      <% include ../../views/flash %>
      <form method="POST" action="/sessions">
        <fieldset>
          <label for="id">ID</label>
          <input type="text" class="input-block-level" name="name" >
          <label for="passwd">Password</label>
          <input type="password" class="input-block-level" name="password">
          <input type="submit" class="btn btn-primary" value="Log in">
	  <label class="checkbox-inline remember">
	    <input type="checkbox" name="remember" checked="checked">
	    <span class="remember-lablel">Keep login</span>
	  </label>
        </fieldset>
      </form>
      <ul>
	<li>
	  <a href="/users/new">Sign in</a>
	</li>
      </ul>
    </div>
  </div>
</div>
<% include ../../views/foot %>
